{% extends 'A_Vastralaya_home/base.html' %}
{% load static %}

{% block content %}
    {% if orders %}
    
    <section class="h-100 gradient-custom"style="background-color:#783756;">
        <div class="container py-5 h-100" style="border-width:5px;">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-10 col-xl-8" >
                    <div class="card" style="border-radius: 15px; border-color:3CB3C1; border-width:8px;">
            <div class="card-header px-3 py-3" style="background-color:#783756; border-width:3px; border-color:3CB3C1">
              <h5 class="text-muted mb-0"><p style="color:7FFFD4; margin:0px; padding:0px;">Order History </p></h5>
            </div>
            <div class="card-body p-4" style="background-color:#783756">
                <div class="card shadow-0 border mb-4">
                    
                    {% comment %} card starts {% endcomment %}
                    {% for order in orders %}
                    <a href="{{order.id}}" class="card-body text-decoration-none">
                        <div class="row" >
                            
                            <div class="col-md-2 d-flex flex-row align-center">
                                <p class=" mb-0">#{{order.id}}</p>
                                <img src="/{{order.product.p_image}}"
                                class="img-fluid" alt="Phone">
                            </div>
                            
                            <div class="col-md-5 text-center d-flex flex-column justify-content-center align-items-center">
                                <p class=" mb-0 ">{{order.product.p_name}}</p>
                      <p class="text-muted mb-0 small">Order placed at {{ order.order_date }} </p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                        <p class="text-muted mb-0 small">{{order.fname}} {{order.lname}}</p>
                    </div>
                    
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                        <p class="text-dark mb-0 ">₹{{ order.price }}</p>
                    </div>
                </div>
                
                
            </a>
            
            <hr class="mb-4" style="background-color: #e0e0e0; opacity: 0.1;">
            
            {% endfor %}
            
            {% comment %} card ends {% endcomment %}          
            
            
        </div> 
        
    </div>
</div>
</div>
</div>
</section>
{% else %}

<div class="card d-flex justify-content-center container text-center" style="height: 90vh;">
    
    <h1 class="display-5">No Orders yet :( </h1>
</div>

{% endif %}
{% endblock content %}
